/* body{
    font-family: 'Libre Franklin', sans-serif;
    color: white;
    background-color: #2069f4;
} */
/* *{
    margin: 0px;
    padding:0px;
} */
h1{
    font-family: 'Libre Franklin', sans-serif;
    background-color: white;
    color: #2069f4;
     text-align: center;
}
.main-background{
    background-color: #dddddd84;
    height: 65vh;
    width: 60vh;
    margin: auto;
     border-radius: 4vh ;
}
.main-title{
    font-family: 'Libre Franklin', sans-serif;
    color: red;
    text-align: center;    
    font-size:35px;
    line-height: 2;
}
.entername{
    border-top:none;
    border-left:none;
    border-right:none;
    
    outline: none;
    background-color:#eeedee ;
}/*
h2{
    displa
} */
.enterpassword{
    border-top:none;
    border-left:none;
    border-right:none;
    
    outline: none;
    background-color:#eeedee ;

}
.main-first{
    text-align: center;
}
.main-second{
    text-align: center;
}
.submit-button{
    text-align: center;
line-height: 8;
}
.submit{
    width: 25%;
    border: 2px solid rgb(128, 190, 190);
    border-radius: 4px;
    padding: 2px;
    background-image: linear-gradient( -225deg, rgb(129, 255, 129), rgb(127, 127, 255) );

}
.submit:hover{
    cursor: pointer;
}
.username{
    font-weight: normal;
}
.password{
    font-weight: normal;;
}